<h2>box64_0.2.2_riscv64.deb</h2>
<p><b>下载链接：<a href='http://deb.box86.wine-runner.gfdgdxi.top//b/box64/box64_0.2.2_riscv64.deb'>http://deb.box86.wine-runner.gfdgdxi.top/b/box64/box64_0.2.2_riscv64.deb</a></b></p>
<pre><code>Architecture: riscv64
Depends: libc6
Description: box64 built using CMake
 Box64 - Linux Userspace x86_64 Emulator with a twist
Maintainer: ptitSeb
Package: box64
Priority: optional
Section: devel
Version: 0.2.2
Installed-Size: 20912

</code></pre>
<h2>box64_0.2.2_arm64.deb</h2>
<p><b>下载链接：<a href='http://deb.box86.wine-runner.gfdgdxi.top//b/box64/box64_0.2.2_arm64.deb'>http://deb.box86.wine-runner.gfdgdxi.top/b/box64/box64_0.2.2_arm64.deb</a></b></p>
<pre><code>Architecture: arm64
Depends: libc6
Description: box64 built using CMake
Maintainer: ptitSeb
Package: box64
Priority: optional
Section: devel
Version: 0.2.2
Installed-Size: 20937

</code></pre>
<h2>box64_0.2.2_x86_64.deb</h2>
<p><b>下载链接：<a href='http://deb.box86.wine-runner.gfdgdxi.top//b/box64/box64_0.2.2_x86_64.deb'>http://deb.box86.wine-runner.gfdgdxi.top/b/box64/box64_0.2.2_x86_64.deb</a></b></p>
<pre><code>Architecture: x86_64
Depends: libc6
Description: box64 built using CMake
Maintainer: ptitSeb
Package: box64
Priority: optional
Section: devel
Version: 0.2.2
Installed-Size: 4

</code></pre>
<h2>box86_0.3.0_armhf.deb</h2>
<p><b>下载链接：<a href='http://deb.box86.wine-runner.gfdgdxi.top//b/box86/box86_0.3.0_armhf.deb'>http://deb.box86.wine-runner.gfdgdxi.top/b/box86/box86_0.3.0_armhf.deb</a></b></p>
<pre><code>Architecture: armhf
Depends: libc6
Description: box86 built using CMake
Maintainer: ptitSeb
Package: box86
Priority: optional
Section: devel
Version: 0.3.0
Installed-Size: 16606

</code></pre>
<h2>box64_0.2.4_riscv64.deb</h2>
<p><b>下载链接：<a href='http://deb.box86.wine-runner.gfdgdxi.top//b/box64/box64_0.2.4_riscv64.deb'>http://deb.box86.wine-runner.gfdgdxi.top/b/box64/box64_0.2.4_riscv64.deb</a></b></p>
<pre><code>Architecture: riscv64
Depends: libc6
Description: box64 built using CMake
 Box64 - Linux Userspace x86_64 Emulator with a twist
Maintainer: ptitSeb
Package: box64
Priority: optional
Section: devel
Version: 0.2.4
Installed-Size: 24014

</code></pre>
<h2>box64_0.2.4_arm64.deb</h2>
<p><b>下载链接：<a href='http://deb.box86.wine-runner.gfdgdxi.top//b/box64/box64_0.2.4_arm64.deb'>http://deb.box86.wine-runner.gfdgdxi.top/b/box64/box64_0.2.4_arm64.deb</a></b></p>
<pre><code>Architecture: arm64
Depends: libc6
Description: box64 built using CMake
Maintainer: ptitSeb
Package: box64
Priority: optional
Section: devel
Version: 0.2.4
Installed-Size: 24088

</code></pre>
<h2>box64_0.2.4_x86_64.deb</h2>
<p><b>下载链接：<a href='http://deb.box86.wine-runner.gfdgdxi.top//b/box64/box64_0.2.4_x86_64.deb'>http://deb.box86.wine-runner.gfdgdxi.top/b/box64/box64_0.2.4_x86_64.deb</a></b></p>
<pre><code>Architecture: x86_64
Depends: libc6
Description: box64 built using CMake
Maintainer: ptitSeb
Package: box64
Priority: optional
Section: devel
Version: 0.2.4
Installed-Size: 4

</code></pre>
<h2>box86_0.3.2_armhf.deb</h2>
<p><b>下载链接：<a href='http://deb.box86.wine-runner.gfdgdxi.top//b/box86/box86_0.3.2_armhf.deb'>http://deb.box86.wine-runner.gfdgdxi.top/b/box86/box86_0.3.2_armhf.deb</a></b></p>
<pre><code>Architecture: armhf
Depends: libc6
Description: box86 built using CMake
Maintainer: ptitSeb
Package: box86
Priority: optional
Section: devel
Version: 0.3.2
Installed-Size: 17583

</code></pre>
